{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "jasmine": true,
    "browser": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "strict": false,
    "semi": [2, "never"],
    "curly": false,
    "quotes": [1, "single", "avoid-escape"],
    "comma-dangle": true,
    "no-unused-vars": false, // Because of JSX. IDE does the job
    "no-unused-expressions": false // Because of shouldjs
  }
}