flexColumn()
  display flex
  flex-direction column

flexRow()
  display flex
  flex-direction row

.flexColumn
  flexColumn()

.flexRow
  flexRow()

.flexGrow
  flex-grow 1

html, body
  padding 0
  margin 0
  height 100%

body
  flexColumn()
  justify-content center
